<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="/images/logo.png" width="35" height="35" alt=""/>
    </a>
    <button class="navbar-toggler-button navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span style="top: -2px" class="oi oi-home" aria-hidden="true"></span > <span class="navbar-toggler">Start</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span style="margin-left: 3px;" class="oi oi-bolt" aria-hidden="true"></span> <span class="navbar-toggler">Kunskaper</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-code" aria-hidden="true"></span> <span class="navbar-toggler">Projekt</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-person" aria-hidden="true"></span> <span class="navbar-toggler">Om mig</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> <span class="navbar-toggler">Kontakt</span>
            </NavLink>
        </li>
         <li class="nav-item px-3">
             <NavLink class="nav-link" target="_blank" href="https://www.linkedin.com/in/kimbondergaard/" >
                 <img src="/icons/linkedin.svg" alt="" width="18" height="18"/> <span class="navbar-toggler">LinkedIn</span>
             </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
