@page "/projects"
@using Threezool.dev.Data.Models
@using Threezool.dev.Services
@inject IProjectService projectService

<h1>Projekt</h1>

<ul>
    @foreach (var project in projects)
    {
        <li>@project.Name</li>
    }
</ul>

@code
{
    private List<Project> projects;

    protected override void OnInitialized()
    {
        projects = projectService.GetAllProjects();
    }
}
